CameraOperability.png
CaribouDetections_Round1.png
Presence_Alces alces_2018-04-26.png
Presence_Canis lupus_2018-04-26.png
Presence_Lepus americanus_2018-04-26.png
Presence_Lontra canadensis_2018-04-26.png
Presence_Lynx canadensis_2018-04-26.png
Presence_Martes americana_2018-04-26.png
Presence_Martes pennanti_2018-04-26.png
Presence_Odocoileus virginianus_2018-04-26.png
Presence_Rangifer tarandus_2018-04-26.png
Presence_Tamiasciurus hudsonicus_2018-04-26.png
Presence_Vulpes vulpes_2018-04-26.png
desktop.ini
n_Species_2018-04-26_withlabels.png
